*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: unset;
  padding: unset;
}

:where(html, body) {
  overscroll-behavior-y: none;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  text-align: justify;
  margin-bottom: 1.5rem;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}
